<% layout('app') -%>

<main class="products">
<% for (var i = 0; i < products.length; i++) { %>
	<div class="product" id="product-<%= products[i]._id %>">
		<a href="/products/<%= products[i].slug %>" title="<%= products[i].name %>">
			<img class="product-image" src="<%= products[i].image %>" alt="<%= products[i].name %>">
		</a>
		<div class="product-meta">
			<p class="product-name">
				<a href="/products/<%= products[i].slug %>" title="<%= products[i].name %>">
					<strong><%= products[i].name %></strong>
				</a>
			</p>
			<p class="product-category">
				<strong>Category: </strong>
				<a href="/categories/<%= products[i].category.slug %>"><%= products[i].category.name %></a>
			</p>
			<p class="product-price">
				<strong>Price: </strong>
				<span>$ <%= products[i].price %></span>
			</p>
			<hr />
			<div class="row">
				<div class="col-xs-6">
					<div>
						<form action="/wishlist/<%= products[i]._id %>" class="form-inline" method="POST">
							<button class="btn btn-default" type="submit"><i class="fa fa-heart"></i> Add to Wishlist</button>
						</form>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="text-right">
						<form action="/cart/<%= products[i]._id %>" class="form-inline" method="POST">
							<button class="btn btn-primary" type="submit"><i class="fa fa-shopping-bag"></i> Add to Bag</button>
						</form>		
					</div>
				</div>
			</div>
		</div>
	</div>
<% } %>
</main>

<nav aria-label="Page navigation" class="text-center">
  <ul class="pagination">
		<% for (var i = 1; i <= pages; i++) { %>

			<% if(parseInt(page) === i || (page === undefined && i === 1)) { %>
				<li class="active"><span><%= i %></span></li>
			<% } else { %>

				<% if(1 === i) { %>
					<li><a href="/"><%= i %></a></li>
				<% } else { %>
		    	<li><a href="/page/<%= i %>"><%= i %></a></li>
		    <% } %>  

    	<% } %>   

    <% } %>
  </ul>
</nav>
